# ────────────── Global ──────────────
.DS_Store
.env
.env.test
.env*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.stackdump
*.tgz
*.tsbuildinfo
.vscode-test
.idea/
.vscode/

# ────────────── Client ──────────────
client/node_modules/
client/.env*
client/.DS_Store
client/build/
client/coverage/
client/.cache/
client/.parcel-cache/
client/.next/
client/.out/
client/storybook-static/
client/dist/
client/.nuxt/
client/.vuepress/dist

# ────────────── Serverless / API ──────────────
api/node_modules/
api/.aws-sam/
api/tmp/
api/temp/
api/.npm/
api/.cache/
api/.env*
api/.DS_Store
api/.eslintcache
api/.stylelintcache
api/coverage/
api/.nyc_output/
api/.rpt2_cache/
api/.rts2_cache_*/
api/lib-cov/
api/build/
api/build/Release/
api/report.*.json
api/.serverless/
api/.fusebox/
api/.dynamodb/
api/.tern-port

# ────────────── OS-Specific ──────────────
# macOS
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk


# template.yaml
/api/template.yaml
